In [1]:
#Kutuphanelerin Yuklenmesi
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np

In [2]:
#Verinin Okunmasi
df = pd.read_csv('web_traffic_log.csv')
df

,IP_Address,Timestamp,HTTP_Method,Path,Status_Code,Response_Size
0,172.16.0.1,14/Aug/2024:19:11:48 +0000,PUT,/services.html,500,3058.0
1,172.16.0.1,14/Aug/2024:19:23:04 +0000,GET,/services.html,302,3856.0
2,172.16.0.2,14/Aug/2024:19:16:53 +0000,DELETE,/products.html,500,2671.0
3,192.168.1.2,14/Aug/2024:19:35:59 +0000,PUT,/contact.html,302,4207.0
4,192.168.1.1,14/Aug/2024:20:02:29 +0000,POST,/contact.html,302,937.0
...,...,...,...,...,...,...
1995,172.16.0.1,14/Aug/2024:19:34:19 +0000,PUT,/products.html,404,1677.0
1996,192.168.1.2,14/Aug/2024:19:09:32 +0000,DELETE,/contact.html,302,4802.0
1997,10.0.0.1,14/Aug/2024:20:03:20 +0000,DELETE,/about.html,404,4647.0
1998,10.0.0.1,14/Aug/2024:19:47:15 +0000,GET,/index.html,404,3788.0
1999,172.16.0.1,14/Aug/2024:19:34:14 +0000,POST,/contact.html,200,4597.0

In [3]:
#Veri Onisleme
df.info() #eksik verilerin tespitini ve veriler hakkinda genel bilgi verir

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   IP_Address     2000 non-null   object
 1   Timestamp      1992 non-null   object
 2   HTTP_Method    1994 non-null   object
 3   Path           2000 non-null   object
 4   Status_Code    2000 non-null   int64
 5   Response_Size  1991 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 93.9+ KB

In [4]:
df.describe()

       Status_Code  Response_Size
count  2000.000000    1991.000000
mean    344.615000    2586.296836
std     112.549018    1371.962637
min     200.000000     205.000000
25%     200.000000    1425.500000
50%     302.000000    2558.000000
75%     404.000000    3767.500000
max     500.000000    4998.000000

In [5]:
df[df.isnull().any(axis=1)]

,IP_Address,Timestamp,HTTP_Method,Path,Status_Code,Response_Size
128,10.0.0.1,14/Aug/2024:19:55:53 +0000,PUT,/products.html,500,NaN
219,172.16.0.1,14/Aug/2024:19:59:21 +0000,DELETE,/products.html,302,NaN
231,10.0.0.2,NaN,GET,/about.html,404,2326.0
297,192.168.1.1,14/Aug/2024:19:15:04 +0000,PUT,/services.html,404,NaN
438,10.0.0.1,NaN,GET,/services.html,200,390.0
460,192.168.1.1,NaN,PUT,/contact.html,302,4354.0
472,10.0.0.2,NaN,GET,/about.html,200,2286.0
473,10.0.0.1,14/Aug/2024:19:33:26 +0000,NaN,/products.html,302,663.0
645,172.16.0.1,14/Aug/2024:19:32:38 +0000,NaN,/products.html,500,NaN
784,10.0.0.2,14/Aug/2024:19:22:05 +0000,PUT,/services.html,404,NaN
792,192.168.1.2,14/Aug/2024:20:00:33 +0000,NaN,/about.html,200,4341.0
876,10.0.0.2,NaN,GET,/contact.html,500,4947.0
944,172.16.0.2,14/Aug/2024:19:55:13 +0000,NaN,/products.html,500,2203.0
1237,10.0.0.2,14/Aug/2024:19:21:08 +0000,POST,/services.html,500,NaN
1257,172.16.0.1,14/Aug/2024:20:00:16 +0000,DELETE,/products.html,200,NaN
1292,192.168.1.1,14/Aug/2024:19:10:31 +0000,NaN,/contact.html,302,1818.0
1375,172.16.0.2,NaN,POST,/contact.html,302,1600.0
1464,172.16.0.2,14/Aug/2024:19:35:32 +0000,NaN,/index.html,302,1683.0
1606,10.0.0.1,14/Aug/2024:19:32:30 +0000,PUT,/services.html,200,NaN
1627,172.16.0.2,NaN,PUT,/products.html,200,1330.0
1861,192.168.1.2,NaN,DELETE,/index.html,500,611.0
1927,192.168.1.2,14/Aug/2024:19:59:41 +0000,POST,/products.html,302,NaN

In [6]:
df = df.dropna(subset=['Timestamp'])

In [7]:
df = df.dropna(subset=['HTTP_Method'])

Response_Size sutununundaki NaN degerleri ortalamasi ile doldurduk

In [8]:
df['Response_Size'] = df['Response_Size'].fillna(df['Response_Size'].mean())

In [9]:
df.info() # Veri setimizde artik NaN degerler bulunmamakta

<class 'pandas.core.frame.DataFrame'>
Index: 1986 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   IP_Address     1986 non-null   object
 1   Timestamp      1986 non-null   object
 2   HTTP_Method    1986 non-null   object
 3   Path           1986 non-null   object
 4   Status_Code    1986 non-null   int64
 5   Response_Size  1986 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 108.6+ KB

In [10]:
# Zaman damgalarÄ±nÄ± datetime formatÄ±na dÃ¶nÃ¼ÅŸtÃ¼rme
df['Timestamp'] = pd.to_datetime(df['Timestamp'], format='%d/%b/%Y:%H:%M:%S %z')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1986 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   IP_Address     1986 non-null   object
 1   Timestamp      1986 non-null   datetime64[ns, UTC]
 2   HTTP_Method    1986 non-null   object
 3   Path           1986 non-null   object
 4   Status_Code    1986 non-null   int64
 5   Response_Size  1986 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(1), int64(1), object(3)
memory usage: 108.6+ KB

In [12]:
df

,IP_Address,Timestamp,HTTP_Method,Path,Status_Code,Response_Size
0,172.16.0.1,2024-08-14 19:11:48+00:00,PUT,/services.html,500,3058.0
1,172.16.0.1,2024-08-14 19:23:04+00:00,GET,/services.html,302,3856.0
2,172.16.0.2,2024-08-14 19:16:53+00:00,DELETE,/products.html,500,2671.0
3,192.168.1.2,2024-08-14 19:35:59+00:00,PUT,/contact.html,302,4207.0
4,192.168.1.1,2024-08-14 20:02:29+00:00,POST,/contact.html,302,937.0
...,...,...,...,...,...,...
1995,172.16.0.1,2024-08-14 19:34:19+00:00,PUT,/products.html,404,1677.0
1996,192.168.1.2,2024-08-14 19:09:32+00:00,DELETE,/contact.html,302,4802.0
1997,10.0.0.1,2024-08-14 20:03:20+00:00,DELETE,/about.html,404,4647.0
1998,10.0.0.1,2024-08-14 19:47:15+00:00,GET,/index.html,404,3788.0
1999,172.16.0.1,2024-08-14 19:34:14+00:00,POST,/contact.html,200,4597.0

In [13]:
#en dusuk response size nedir?
df.loc[df['Response_Size'].idxmin()]

IP_Address                     192.168.1.2
Timestamp        2024-08-14 20:02:29+00:00
HTTP_Method                            PUT
Path                        /products.html
Status_Code                            500
Response_Size                        205.0
Name: 324, dtype: object

In [14]:
df['HTTP_Method'].value_counts()

HTTP_Method
DELETE    518
PUT       491
POST      489
GET       488
Name: count, dtype: int64

In [15]:
df['Response_Size'].max()

4998.0

In [16]:
df['Response_Size'].min()

205.0

In [17]:
df[df['Response_Size'] == 3254.0]

,IP_Address,Timestamp,HTTP_Method,Path,Status_Code,Response_Size
317,10.0.0.1,2024-08-14 19:06:40+00:00,GET,/contact.html,404,3254.0
1121,172.16.0.1,2024-08-14 19:32:16+00:00,POST,/contact.html,404,3254.0

In [18]:
df[df['Response_Size'] == 2923.0]

,IP_Address,Timestamp,HTTP_Method,Path,Status_Code,Response_Size
1621,172.16.0.2,2024-08-14 19:06:40+00:00,GET,/contact.html,302,2923.0

In [19]:
df[df['Response_Size'] == 4579.0]

,IP_Address,Timestamp,HTTP_Method,Path,Status_Code,Response_Size
1167,172.16.0.1,2024-08-14 19:06:31+00:00,PUT,/contact.html,404,4579.0
1883,10.0.0.1,2024-08-14 19:43:37+00:00,POST,/services.html,404,4579.0

In [20]:
df['Path'].value_counts()

Path
/services.html    404
/contact.html     403
/products.html    399
/index.html       399
/about.html       381
Name: count, dtype: int64

In [21]:
df[(df['Status_Code'] == 302) & (df['Path'] == '/contact.html') & (df['IP_Address'] == '10.0.0.2')]

,IP_Address,Timestamp,HTTP_Method,Path,Status_Code,Response_Size
19,10.0.0.2,2024-08-14 20:05:21+00:00,GET,/contact.html,302,2170.0
426,10.0.0.2,2024-08-14 19:58:17+00:00,POST,/contact.html,302,3430.0
431,10.0.0.2,2024-08-14 19:24:58+00:00,DELETE,/contact.html,302,4299.0
663,10.0.0.2,2024-08-14 19:45:35+00:00,DELETE,/contact.html,302,2933.0
695,10.0.0.2,2024-08-14 19:14:59+00:00,POST,/contact.html,302,3964.0
797,10.0.0.2,2024-08-14 19:39:23+00:00,PUT,/contact.html,302,511.0
862,10.0.0.2,2024-08-14 19:26:32+00:00,POST,/contact.html,302,2967.0
1042,10.0.0.2,2024-08-14 19:35:27+00:00,POST,/contact.html,302,1179.0
1103,10.0.0.2,2024-08-14 19:38:49+00:00,DELETE,/contact.html,302,4161.0
1397,10.0.0.2,2024-08-14 19:54:55+00:00,DELETE,/contact.html,302,265.0
1487,10.0.0.2,2024-08-14 19:29:46+00:00,GET,/contact.html,302,2533.0
1532,10.0.0.2,2024-08-14 19:06:19+00:00,GET,/contact.html,302,2422.0
1681,10.0.0.2,2024-08-14 19:21:21+00:00,GET,/contact.html,302,3863.0
1798,10.0.0.2,2024-08-14 19:33:57+00:00,PUT,/contact.html,302,896.0

In [22]:
df[(df['Status_Code'] == 302) & (df['Path'] == '/contact.html') & (df['IP_Address'] == '172.16.0.2')]

,IP_Address,Timestamp,HTTP_Method,Path,Status_Code,Response_Size
266,172.16.0.2,2024-08-14 20:00:10+00:00,GET,/contact.html,302,4136.0
326,172.16.0.2,2024-08-14 20:05:01+00:00,DELETE,/contact.html,302,2958.0
425,172.16.0.2,2024-08-14 19:15:02+00:00,GET,/contact.html,302,583.0
441,172.16.0.2,2024-08-14 19:17:49+00:00,DELETE,/contact.html,302,2495.0
1457,172.16.0.2,2024-08-14 19:44:32+00:00,POST,/contact.html,302,3636.0
1570,172.16.0.2,2024-08-14 19:31:16+00:00,PUT,/contact.html,302,3221.0
1619,172.16.0.2,2024-08-14 19:37:09+00:00,GET,/contact.html,302,4511.0
1621,172.16.0.2,2024-08-14 19:06:40+00:00,GET,/contact.html,302,2923.0

In [23]:
df[df['Response_Size'] == 2923.0]

,IP_Address,Timestamp,HTTP_Method,Path,Status_Code,Response_Size
1621,172.16.0.2,2024-08-14 19:06:40+00:00,GET,/contact.html,302,2923.0

In [24]:
df[(df['Status_Code']==404) & (df['HTTP_Method']=='DELETE') & (df['IP_Address'] == '172.16.0.1')]

,IP_Address,Timestamp,HTTP_Method,Path,Status_Code,Response_Size
279,172.16.0.1,2024-08-14 19:52:42+00:00,DELETE,/index.html,404,1969.0
335,172.16.0.1,2024-08-14 20:00:52+00:00,DELETE,/about.html,404,970.0
342,172.16.0.1,2024-08-14 19:12:44+00:00,DELETE,/services.html,404,2152.0
371,172.16.0.1,2024-08-14 20:03:43+00:00,DELETE,/contact.html,404,3741.0
388,172.16.0.1,2024-08-14 19:14:00+00:00,DELETE,/contact.html,404,2354.0
402,172.16.0.1,2024-08-14 19:16:45+00:00,DELETE,/index.html,404,3639.0
403,172.16.0.1,2024-08-14 20:00:36+00:00,DELETE,/contact.html,404,722.0
502,172.16.0.1,2024-08-14 19:07:09+00:00,DELETE,/about.html,404,1463.0
523,172.16.0.1,2024-08-14 19:21:04+00:00,DELETE,/contact.html,404,3005.0
564,172.16.0.1,2024-08-14 19:44:48+00:00,DELETE,/services.html,404,3084.0
577,172.16.0.1,2024-08-14 19:08:45+00:00,DELETE,/index.html,404,3914.0
596,172.16.0.1,2024-08-14 19:19:53+00:00,DELETE,/services.html,404,3259.0
1004,172.16.0.1,2024-08-14 19:48:40+00:00,DELETE,/index.html,404,2078.0
1029,172.16.0.1,2024-08-14 20:04:58+00:00,DELETE,/index.html,404,4264.0
1068,172.16.0.1,2024-08-14 19:21:34+00:00,DELETE,/about.html,404,2422.0
1357,172.16.0.1,2024-08-14 19:44:18+00:00,DELETE,/services.html,404,1983.0
1417,172.16.0.1,2024-08-14 19:23:29+00:00,DELETE,/index.html,404,3800.0
1642,172.16.0.1,2024-08-14 19:56:59+00:00,DELETE,/services.html,404,369.0
1667,172.16.0.1,2024-08-14 19:46:43+00:00,DELETE,/about.html,404,3559.0
1744,172.16.0.1,2024-08-14 19:39:39+00:00,DELETE,/services.html,404,1021.0
1761,172.16.0.1,2024-08-14 19:12:29+00:00,DELETE,/contact.html,404,1089.0
1863,172.16.0.1,2024-08-14 19:48:03+00:00,DELETE,/index.html,404,3612.0
1864,172.16.0.1,2024-08-14 19:26:49+00:00,DELETE,/contact.html,404,2402.0

In [25]:
df[df['Response_Size']==4579.0]

,IP_Address,Timestamp,HTTP_Method,Path,Status_Code,Response_Size
1167,172.16.0.1,2024-08-14 19:06:31+00:00,PUT,/contact.html,404,4579.0
1883,10.0.0.1,2024-08-14 19:43:37+00:00,POST,/services.html,404,4579.0